.line-loader {
  display: inline-block;
}

/* Size utilities */
.w-12 {
  width: 3rem;
}

.h-12 {
  height: 3rem;
}

.w-20 {
  width: 5rem;
}

.h-20 {
  height: 5rem;
}

.w-32 {
  width: 8rem;
}

.h-32 {
  height: 8rem;
}

.w-48 {
  width: 12rem;
}

.h-48 {
  height: 12rem;
}

.line-loader-svg {
  width: 100%;
  height: 100%;
}
