body {
  --scale: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 20px;
  font-family: Verdana, sans-serif;
}

body > * {
  margin-left: 10px;
  margin-right: 10px;
}

body > *:first-child {
  margin-left: 0;
}

body > *:last-child {
  margin-right: 0;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content-wrapper {
  display: flex;
  justify-content: space-between; /* This will put space between your two main sections */
}

label {
  font-size: small;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  margin-bottom: 12px;
}

button, input[type="button"], a.button {
  cursor: pointer;
}

button, input, select, textarea, a.button {
  font-family: inherit;
}

input, select {
  width: 300px;
  height: 40px;
}

input, select, textarea {
  border: 1px solid lightgray;
  padding: 12px;
  font-size: 12px;
}

input:focus, select:focus, textarea:focus {
  border: 1px solid gray;
  outline: none;
}

textarea {
  width: 100%;
  resize: vertical;
}

section {
  padding: 20px 0;
}

button, a.button {
  border: none;
  background-color: lightgrey;
  padding: 12px 24px;
}

a.button {
  color: inherit;
  text-decoration: none;
}

.inputs {
  flex: 1
}

.divider {
  background-color: lightgray;
}

.divider.row {
  height: 1px;
}

.divider.column {
  width: 1px;
}

.general-inputs > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.general-inputs > *:first-child {
  margin-top: 0;
}

.general-inputs > *:last-child {
  margin-bottom: 0;
}

.color-input {
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.color-input.selected {
  -webkit-box-shadow: 0 0 0 4px white inset;
          box-shadow: 0 0 0 4px white inset;
}

.action-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /* margin: 20px 0; */
}

.ring-inputs {
  -ms-grid-row: 3;
  grid-row: 3fr;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
          color: black;
}

.ring-inputs .rings-sidebar {
  min-width: 140px;
  height: 100%;
  border-right: 1px solid lightgray;
  padding: 20px 0;
}

.ring-inputs .rings-sidebar .rings .ring-button {
  width: 100%;
  background-color: white;
  border: 1px solid white;
  border-right: none;
  outline: none;
  display: block;
}

.ring-inputs .rings-sidebar .rings .ring-button.selected {
  border: 1px solid lightgray;
  border-right: 1px solid white;
  margin-right: -2px;
}

.ring-inputs .rings-sidebar .add-ring-button, .ring-inputs .rings-sidebar .delete-ring-button {
  display: block;
  margin-top: 12px;
}

.ring-inputs .ring-textareas-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.ring-inputs .ring-textareas-wrapper .ring-textareas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  /* needs vendor prefixes */
}

.ring-inputs .ring-textareas-wrapper .ring-textareas .ring-textarea {
  margin: 12px;
  width: 100%;
}

.ring-inputs .ring-textareas-wrapper .ring-textareas .ring-textarea textarea {
  height: 4em;
  width: 100%;
  overflow: hidden;
}

.year-wheel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  width: 840px;
  height: 100%;
  border: 1px solid lightgray;
}

.year-wheel-wrapper .year-wheel {
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.year-wheel-wrapper .zoom-buttons {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  margin: -12px 0;
}

.zoom-button {
  width: 32px;
  height: 32px;
  margin: 12px 0;
  padding: 0;
  display: block;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 50%;
  outline: none;
}

canvas {
  display: block;
  margin: auto;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
/*# sourceMappingURL=style.css.map */