@mixin display_flex($flex-direction, $justify-content, $align-items, $flex-wrap){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

@mixin margin_vertical($margin){
    margin-top: calc($margin / 2);
    margin-bottom: calc($margin / 2);
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin margin_horizontal($margin){
    margin-left: calc($margin / 2);
    margin-right: calc($margin / 2);
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

body {
    --scale: 1;
    @include display_flex(row, space-between, stretch, nowrap);
    & > * {
        @include margin_horizontal(20px);
    }
    margin: 20px;
    font-family: Verdana, sans-serif;
    * {
        box-sizing: border-box;
    }
}

#root {
    @include display_flex(row, space-between, stretch, nowrap);
}

.inputs, .year-wheel-wrapper {
    @include margin_vertical(10px); // This ensures there's some space between the two main sections
    @include margin_horizontal(30px);
}

.year-wheel-wrapper {
    @include display_flex(row, center, center, nowrap);
    flex: 2; // Adjust this value based on how much space you want the wheel to take relative to the settings
    // Additional styling
}

label {
    font-size: small;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    margin-bottom: 12px;
}

button, input[type="button"], a.button {
    cursor: pointer;
}

button, input, select, textarea, a.button {
    font-family: inherit;
}
input, select {
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
}
input, select, textarea {
    border: 1px solid lightgray;
    padding: 12px;
    font-size: 12px;
    &:focus {
        border: 1px solid gray;
        outline: none;
    }
}
textarea {
    width: 100%;
    resize: vertical;
}

section {
    padding: 20px 0;
}
button, a.button {
    border: none;
    background-color: lightgrey;
    padding: 12px 24px;
}
a.button {
    color: inherit;
    text-decoration: none;
}

.inputs {
    flex: 1;
    height: 100%;
    @include display_flex(column, stretch, stretch, nowrap);
}

.divider {
    background-color: transparent;
    &.row {
        height: 10px;
    }
    &.column {
        width: 1px;
    }
}

.general-inputs {
    & > * {
        @include margin_vertical(40px);
    } 
    [type="checkbox"] {
        height: 15px;
        width: auto;
    }
}

.color-input {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    &.selected {
        box-shadow: 0 0 0 4px white inset;
    }
}

.action-inputs {
    @include display_flex(row, space-between, flex-start, nowrap)
}

.ring-inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    .rings-sidebar {
        width: 200px;
        height: 100%;
        border-right: 1px solid lightgray;
        padding: 20px 0;
        .rings {
            .ring-button {
                width: 100%;
                background-color: white;
                border: 1px solid white;
                border-right: none;
                outline: none;
                display: block;
                &.selected {
                    border: 1px solid lightgray;
                    border-right: 1px solid white;
                    margin-right: -2px;
                }
            }
        }
        .add-ring-button, .delete-ring-button {
            display: block;
            margin-top: 12px;
        }
    }
    .ring-content {
        flex-grow: 1;
        padding-left: 10px;
    }
    .ring-textareas-wrapper {
        flex: 1;
        overflow-y: auto; /* Enable vertical scrolling if necessary */
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        .ring-textareas {
            display: flex;
            flex-direction: column;
            gap: 12px; /* Space between each textarea */
            width: 100%;
            .ring-textarea {
                width: 100%;
                textarea {
                    height: 40px;
                    width: 100%;
                }
            }
        }
        .ring-orientation {
            margin-top: 10px;
            display: flex;
            align-items: center;
            width: 100%;
            label {
                margin-right: 10px;
                white-space: nowrap;
            }
            select {
                flex: 1;
            }
        }
    }
}


.year-wheel-wrapper {
    @include display_flex(row, center, center, nowrap);
    flex: 2;
    position: relative;
    width: 840px;
    height: 100%;
    border: 1px solid lightgray;
    .year-wheel {
        overflow: scroll;
        width: 100%;
        height: 100%;
    }
    
    .zoom-buttons {
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 1;
        margin: -12px 0;
    }
}

.zoom-button {
    width: 32px;
    height: 32px;
    margin: 12px 0;
    padding: 0;
    display: block;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 50%;
    outline: none;
}

canvas {
    display: block;
    margin: auto;
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: crisp-edges;               // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)
}
